@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
 :root {
    --main-color: #FF914D;
    --black: #13131a;
    --bg: #000000;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

body {
    background: var(--bg);
}


/*Posição do texto do Home*/

section {
    padding: 2rem 7%;
}


/*Posição e Efeito do cabeçario*/

.heading {
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 3rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}


/*Efeitos dos botoes*/

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    background:rgb(255, 255, 255);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}


/*Barras de menu geral */

.header {
    background:rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


/*Efeitos da barra */

.header .naverbar a {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: white;
}

.header .naverbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}


/*Icones de pesquisa e cadastro*/


/*Posção e cor, tamanho*/

.header .icones div {
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}


/*Efeitos ao passar o mause*/

.header .icones div:hover {
    color: var(--main-color);
}


/*Efeitos dos icones*/


/*Efeitos do icone de pesquisa*/

.header .searchicon {
    position: absolute;
    top: 115%;
    right: 7%;
    background: white;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    /*Efeito de pesquisa*/
    transform: scaleY(0);
    transform-origin: top;
}


/*Efeito de aparecer o pesquisar*/

.header .searchicon.active {
    transform: scaleY(1);
}

.header .searchicon input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .searchicon label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .searchicon label:hover {
    color: var(--main-color);
}


/*Barras de menu Empresa e sub menu*/

.menu li {
    padding: 1.5rem;
    float: left;
}

.menu li ul {
    position: absolute;
    background-color: rgb(0, 0, 0);
    display: none;
    top: 5rem;
}

.menu li:hover ul,
.menu li.over ul {
    display: grid;
}

.menu li ul li {
    border: 1px solid var(--main-color);
    display: block;
    width: 190px;
}


/*Logo*/

.header .logo img {
    height: 7rem;
}


/*Imagem do Home posição e efeito*/

.home {
    min-height: 90vh; /*Tamanho do papel de parede*/
    display: flex;
    align-items: center;
    background: url(../Imagens/home4) no-repeat;
    background-size: cover;
    background-position: center;
}


/*Efeitos do Texto do Home*/

.home .content {
    /*Largura maxima*/
    max-width: 90rem;
}

.home .content h3 {
    font-size: 5rem;
    text-transform: uppercase;
    color: #FF914D;
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: rgb(0, 0, 0); /* cor da borda */
}

.home .content p {
    font-size: 4rem;
    font-weight: bold;
    line-height: 0.7;
    padding: 2rem 0;
    color: #FF914D;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: rgb(255, 0, 0); /* cor da borda */
}


/*Posição dos Videos Home*/


/*Posicao dos icones e do menu baixo*/

.footer {
    background: rgb(0, 0, 0);
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background: var(--main-color);
}

.footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}

/*FIM Posicao dos icones e do menu baixo*/





.menuvid li {
    padding: 2rem 3.6rem;
    float: left;
}


@media(max-width:991px) {
    /*Posição do texto do Home */
    section {
        padding: 2rem;
    }
}